.employee-list-item {
  border-bottom: 1px solid #e5e7eb;

  .employee-placeholder {
    background-color: #1677ff;
    color: #fff;
  }

  .employee-details {
    .username {
      color: #6b7280;
    }
  }
}